* {
    margin: 0;
}

body {
    background: rgb(152, 22, 59);
    background: radial-gradient(circle, rgba(152, 22, 59, 1) 0%, rgba(121, 9, 26, 1) 55%, rgba(77, 32, 39, 1) 100%);
}

@mixin dFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
